# GitHub OAuth 应用配置
GITHUB_ID=Ov23lijwUHMF9bpG0KjS
GITHUB_SECRET=c3082e93c0e8b81334ab6f798c553cbba9e72ee5

# NextAuth 配置
NEXTAUTH_SECRET=oEhc9ylMKs1hUpKZeph34Y/wV8fwNfzFPFLZ/KdKRf8=
NEXTAUTH_URL=http://localhost:3000

